* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  background: #313e38;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
button {
  cursor: pointer;
}

#background_icon {
  z-index: -100;
  position: absolute;
  font-size: 35rem;
  color: #394640;
  top: 12rem;
  right: 0.3rem;
  transform: rotate(15deg);
}

@media (min-width: 760px) {
  :root {
      font-size: 62.5%;
  }

  #background_icon {
    right: 15rem;
  }
}
